.conteiner-master{
  background-color:rgb(245, 248, 245) ;
}
.logo{
  color: rgb(30, 79, 11);
  font-size: 50px;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom,rgb(70, 233, 70),rgb(245, 248, 245))  ;
}
.navItems {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(245, 248, 245);;
}
.navItem{
  cursor: pointer;
  padding: 5px;
  background-color: rgb(145, 243, 157);
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 4px 10px rgb(51, 53, 51);
}

.cartConteiner{
  background-color: rgb(161, 235, 161);
  display: flex;
  position: fixed;
  padding: 3px;
  top: 5px;
  border-radius: 10px;
  border: solid black 1px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgb(51, 53, 51);
}
.cart{
  width: 40px;
  
}

.titleWelcome {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 200;
  margin: 20px;
  color: rgb(5, 50, 5);
}


.itemList{
  cursor: pointer;
  color: rgb(3, 98, 31);
  font-size: 18px;
  border: 2px solid rgb(106, 244, 106);
  border-radius: 5px;
  padding: 2px;
}

.Counter {
  display: inline-block;
}

.Controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.Button {
  background-color: rgb(18, 243, 85);
  padding: 4px;
  border-radius: 5px;
}